[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
autopep8 = "*"
coverage = "*"
python-coveralls = "*"

[packages]
django = "==2.0"
djangorestframework = "*"
coreapi = "*"

[requires]
python_version = "3.7"
